<footer>
    <div class="container">
        <p>&copy; Got questions or feedback? Reach out to me at: <a href="mailto:ilay.eldar824@gmail.com" class="email">ilay.eldar824@gmail.com</a></p>
    </div>
</footer>

