<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/styles/layouts.css">
  <link rel="stylesheet" href="/styles/content.css">

  <title>Ilay's Blog</title>
</head>
<body>
  <div id="header">
    <header>
      <h1>Ilay's Blog</h1>
    </header>
  </div>
</body>
</html>

